<h1>ようこそ</h1>

<p>
  いらっしゃいませ。<br/>
  <%= current_user.family_name %> <%= current_user.first_name %> 様ですね？<br/>
  前回のログイン日時は <%= current_user.last_login_at.to_s(:db) rescue "ありません" %> でした。<br/>
  前回のログイン元IPアドレスは <%= current_user.last_login_ip %> でしたよ。<br/>
</p>

<%= button_to("ログアウト", user_session_path(current_user), :method => "delete") %>
