<h1>ログイン</h1>

<p>
  <%= alert %>
</p>

<%= form_for @user_session, :url => user_session_path do |f| %>
  <p>
    <%= f.text_field :login, :placeholder => "ログインID" %>
  </p>
  <p>
    <%= f.password_field :password, :placeholder => "パスワード" %>
  </p>
  <p>
    <%= f.submit "ログイン" %>
  </p>
<% end %>
